title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #f92483;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
  &:focus {
    border: 1px solid #f92483;
    transition: 0.35s ease;
    color: #f92483;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
  -webkit-box-shadow: 9px 12px 13px -1px rgba(110,110,110,0.38);
  -moz-box-shadow: 9px 12px 13px -1px rgba(110,110,110,0.38);
  box-shadow: 9px 12px 13px -1px rgba(110,110,110,0.38);
}

p {
  position: absolute;
  bottom: -32px;
  font-size: 1.2rem;
  color: #ff5040;
  font-weight: 300;
}

button {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
  color: #f92483;
  border-radius: 50%;
  transition: all 0.375s;
  cursor: pointer;
  border: 3px ridge #f92483;
  
}

i{
  font-size: 37px;
  margin: 0 auto;
}
button:hover {
  background-color: #fff;
  box-shadow: 5px 5px 10px #171817;
}
@media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/
  .search-container{
    width: 21rem;
    align-content: center;
  }
  title{
    text-align: center;
  }
}
@media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/
  .search-container{
    width: 15rem;
    align-content: center;
  }
  title{
    text-align: center;
  }
}