<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,400;0,500;1,400&family=Ubuntu:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<title>GitHub Profile</title>

<form class="search-container" (submit)="onSubmit($event)">
  <input type="text" id="search-bar" placeholder="Informe o usuário" required />
  <button class="search-icon" type="submit">
    <i class="bx bx-search-alt-2"></i>
  </button>
  <p *ngIf="notFound">
    Usuário não encontrado, tente novamente!
  </p>
</form>
